In [2]:
import pandas as pd
df = pd.read_csv('/Users/zentrovoy/Documents/BOOTCAMP/W3/D2/goog4.csv', header=None)
print(display(df.head()))

,0,1
0,Job Title,Description
1,Data Analyst,job overview were seeking a data analyst to tu...
2,Data Reporting Analyst,about wspc wspc is a cooperative of outstandin...
3,Data Analyst (Power BI/Python),data analyst power bipython employment type fu...
4,Data & Reporting Analyst,our company pharmerica overview the data repor...

None

In [5]:

df = pd.read_csv('/Users/zentrovoy/Documents/BOOTCAMP/W3/D2/goog4.csv')
print(display(df.head()))

,Job Title,Description
0,Data Analyst,job overview were seeking a data analyst to tu...
1,Data Reporting Analyst,about wspc wspc is a cooperative of outstandin...
2,Data Analyst (Power BI/Python),data analyst power bipython employment type fu...
3,Data & Reporting Analyst,our company pharmerica overview the data repor...
4,Data Quality Analyst (Remote Opportunity),vetsez is seeking a data quality analyst teste...

None